Body {
    background-color: #0d1327;
}

#myCanvas { 
    background: rgb(187, 187, 187); 
    background-image: url(/images/james-doyle-2-1.gif);
    display: flex;
    margin: 0 auto; 
    border-radius: 10px;
    margin-top: 60px;
};

#story {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.beginImage {
 background: url("./images/james-doyle-2-1.gif");
 background-repeat: no-repeat;
 display: flex;
 margin: 0 auto;
 justify-content: center;
 border-radius: 10px;
 margin-top: 60px;
 width: 730px;
 height: 550px;
}
.buttons {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 flex-wrap: wrap;
 height: 500px;
}

.btn {
 width: 200px;
 height: 50px;
 border-radius: 50px;
    background-color: #0d1327; 
 text-align: center;
 align-items: center;
 margin: 30px;
 color: white;
 font-size: 20px;
 cursor: pointer;
}
